.eslintcache
.node_repl_history
*.tgz
.yarn-integrity

# Ferramentas legadas (template Firebase)
lib-cov/
.grunt/
bower_components/
.lock-wscript/
build/Release/

# Dataconnect
.dataconnect/

tutoriais/
My workflow.json

# Instaladores e binários grandes
*.exe
*.msi
*.dmg
*.zip

# Dependências e ambiente
node_modules/
.env
.env.local